* {
  margin: 0;
  box-sizing: border-box;
  font-family: "space Grotesk", sans-serif;
}
/* Navigation bar styles */
header {
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
header nav {
  margin: auto;
  padding: 0px 50px;
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav a:hover {
  border-bottom: 1px solid red;
  color: rgb(238, 26, 26);
}
.btn #btn {
  background-color: rgb(235, 62, 62);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.btn #btn :hover {
  color: blue;
}
.Travel {
  background-image: url("/assets/images/about\ us\ picture.png");
  height: 700px;
}
.Travel h3 {
  align-items: center;
  text-align: center;
  color: white;
  justify-content: space-between;
  padding: 200px 100px;
}
.promotion {
  display: flex;
  padding: 50px 50px;
}
.provide {
  padding: 50px 100px;
  justify-content: center;
}
.provide h4 {
  color: rgb(235, 62, 62);
}
.provide button {
  background-color: rgb(235, 62, 62);
  color: white;
  border: none;
  padding: 10px 20px;
}
/*promotion end*/
.wanderlust {
  background-image: url("/assets/images/frame\ three.png");
  height: 600px;
}
.wanderlust h3 {
  padding: 0px 10px;
  color: white;
  margin: 500px auto;
}
.col {
  padding: 200px 500px;
}
.wanderlust h1 {
  color: white;
}
.trend {
  display: flex;
  padding: 20px 0px;
}
.popular {
  padding: 150px 0px;
  justify-content: center;
  align-items: center;
}
.popular h4 {
  color: rgb(235, 62, 62);
  padding: 0px 5px;
}
.plate {
  width: 270px;
}
.packages .col img {
  width: 200px;
}
.packages .col img#spec {
}
.clients {
  background-image: url("/assets/images/h1-background-img-1\ 1.png");
  height: 800px;
  width: 1000px;
  padding: 200px 50px;
}
.ton {
  align-items: center;
  justify-content: center;
  padding: 60px 200px;
  height: 200px;
  width: 200px;
}
.footer {
  background-color: blanchedalmond;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}
.footer-links {
  padding: 20px 50px;
  color: black;
  border-radius: none;
}
.footer-text {
  padding: 20px 50px;
}
.btn {
  color: white;
  background-color: brown;
  padding: 10px 20px;
}
