* {
  margin: 0;
  box-sizing: border-box;
  font-family: "space Grotesk", sans-serif;
}
/* Navigation bar styles */
header {
  padding: 10px 100px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: var(--color-text);
}
header nav a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--color-text-secondary);
}
header .fa-bars {
  display: none;
}
header nav a.active,
header nav a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-secondary);
  transition-duration: 0.5ms;
}
.btn #btn {
  padding: 10px 15px;
  margin: -right 10px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--color-primary);
  border: none;
  color: var(--color-text);
}

.btn #btn :hover {
  background-color: var(--color-secondary);
  padding: 10px 15px;
  color: var(--color-text);
}

/* Navigation bar style ends */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 0 100px;
  background: var(--color-background);
  color: var(--color-text);
}

.hero .hero-text {
  max-width: 600px;
}
.hero .hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero .hero-text h1 span {
  color: var(--color-primary);
}
.hero .hero-text p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 2;
}
#btn {
  padding: 10px 15px;
  cursor: pointer;
  background: var(--color-primary);
  border: none;
  color: var(--color-text);
}
/* Hero section styles */

/* Care Features Styles */
.care-features {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 15rem auto;
}
.care-features p#focused-title {
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-primary);
}
.care-features h2 {
  font-size: 38px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.care-features .care-features-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  padding: 0 100px;
  flex-wrap: wrap;
  gap: 20px;
}
.care-features .care-features-tools .col {
  flex: 1;
  padding: 0 20px;
}
.care-features .care-features-tools .col img {
  width: 15%;
  height: 15%;
  margin-bottom: 20px;
}
.care-features .care-features-tools .col h5 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}
.care-features .care-features-tools .col p {
  font-size: 12px;
  line-height: 2;
}
/* Care Features Styles */

/* About styles */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 5rem auto;
  gap: 15px;
}
.about .about-text {
  max-width: 550px;
}
.about .about-text p#focused-title {
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: var(--color-primary);
}
.about .about-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.about .about-text p#focused-text {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 20px;
}
.about .about-text #btn {
  padding: 10px 15px;
  cursor: pointer;
  background: var(--color-primary);
  border: none;
  color: var(--color-text);
}

/* Services styles & Projects*/
.services {
  background: var(--color-background);
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  text-align: center;
}
.latest-projects {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services p#focused-title,
.latest-projects p#focused-title {
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: var(--color-primary);
  font-weight: 500;
}
.services h2,
.latest-projects h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.services .service-cards,
.latest-projects .project-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  padding: 0 100px;
  gap: 20px;
}

.service-cards .col,
.project-cards .col {
  position: relative;
}

.services .service-cards .col img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: block;
}
.latest-projects .project-cards .col img {
  width: 100%;
  /* height: auto; */
  margin-bottom: 20px;
  /* display: block; */
}

.service-cards .col::before,
.project-cards .col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-background-transparent)
  );
  opacity: 0.4;
  pointer-events: none;
}

service-cards .col .col-text,
.project-cards .col .col-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: var(--color-text);
  padding: 10px;
  text-align: justify;
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
. .service-cards .col .col-text h4,
.project-cards .col .col-text h4 {
  margin-bottom: 20px;
  font-weight: 500;
}
.service-cards .col .col-text p,
.project-cards .col .col-text p {
  font-size: 12px;
  line-height: 1.4;
}
/* Who we are styles */
.project-request {
  padding: 50px 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.project-request .col {
  max-width: 550px;
}

.project-request .col p#focused-title {
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: var(--color-primary);
  font-weight: 500;
}
.project-request .col h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.project-request .col p#focused-text {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 20px;
}
.project-request .col li {
  font-size: 13px;
  line-height: 2.5;
}

/* Consultation Banner  */
.consultation-banner {
  background-image: url("../images/consultation-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
  z-index: 1;
  color: var(--color-text);
  width: 100%;
}
.consultation-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.consultation-banner .consultation-text {
  max-width: 400px;
}
.consultation-banner .consultation-btn {
  max-width: 400px;
}
.consultation-btn button#btn-consultation {
  padding: 10px 15px;
  cursor: pointer;
  background: var(--color-primary);
  border: none;
  color: var(--color-text);
}

/* Team member styles */
.team-member {
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 5rem;
}
.team-member p#focused-title {
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: var(--color-primary);
  font-weight: 500;
}
.team-member h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.team-member .team-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  padding: 0 100px;
  gap: 20px;
}
.team-member .team-cards img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: block;
}
.team-member .team-cards .col p {
  font-size: 12px;
}

/* Newsletter Subscribe */
.newsletter-subscribe {
  background: var(--color-background-gray);
  margin: 50px 100px;
  /* width: 100%; */
  padding: 50px 30px;
  justify-content: center;
  align-items: center;
  color: var(--color-background);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
  gap: 20px;
}
.newsletter-subscribe .newsletter-text {
  max-width: 450px;
  border-right: 1px solid var(--color-background);
  padding-right: 20px;
}

.newsletter-subscribe .newsletter-text p {
  font-size: 12px;
  line-height: 2;
  margin-top: 20px;
}

/* Footer Styles */
footer {
  background: var(--color-background);
  color: var(--color-text);
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-socials {
  margin: 15px 0;
}
footer .footer-socials .fa-twitter,
.fa-linkedin-in,
.fa-instagram,
.fa-facebook-f {
  background-color: var(--color-primary);
  padding: 10px;
  font-size: 13px;
  border-radius: 50%;
  color: var(--color-text);
  margin-right: 5px;
  cursor: pointer;
}
footer .footer-contact p {
  font-size: 13px;
  line-height: 2;
}
footer .footer-links h4 {
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
footer .footer-links ul {
  list-style: none;
  padding: 0;
}
footer .footer-links li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 13px;
  line-height: 2;
  font-weight: 300;
}
footer .footer-links li a:hover {
  color: var(--color-primary);
}
.footer-text {
  text-align: center;
}
.footer-text p {
  font-size: 12px;
  line-height: 2;
  margin-top: 10px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px 20px;
  }
  header nav {
    display: none;
  }
  header .fa-bars {
    display: block;
    font-size: 20px;
    color: var(--color-text-secondary);
  }
  header nav a {
    margin: 0px 10px;
  }
  .hero {
    flex-direction: column;
    padding: 50px 20px;
    height: auto;
  }
  .hero .hero-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .hero .hero-text p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  .hero .hero-image img {
    width: 100%;
    height: auto;
  }
  .care-features .care-features-tools {
    padding: 0 20px;
    flex-direction: column;
    gap: 10px;
  }
  .care-features .care-features-tools .col {
    flex: 1;
    padding: 0 10px;
  }
  .care-features .care-features-tools .col img {
    width: 10%;
    height: 10%;
    margin-bottom: 10px;
  }
  .about {
    flex-direction: column;
    padding: 0 20px;
  }
  .about .about-image img {
    width: 100%;
  }
  .services {
    padding: 50px 20px;
  }
  .services .service-cards,
  .latest-projects .project-cards {
    padding: 0 20px;
    flex-direction: column;
    gap: 10px;
  }
  .services p#focused-title {
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: var(--color-primary);
    font-weight: 700;
  }
  .project-request {
    flex-direction: column;
    padding: 50px 20px;
  }
  .project-request .col {
    max-width: 100%;
  }
  .project-request .col h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .project-request .col img {
    width: 100%;
    height: auto;
  }
  .consultation-banner {
    padding: 50px 20px;
    flex-direction: column;
    gap: 10px;
  }
  .team-member {
    padding: 50px 20px;
  }
  .team-member .team-cards {
    padding: 0 20px;
    flex-direction: column;
    gap: 10px;
  }
  .team-member .team-cards .col {
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .team-member .team-cards img {
    width: 100%;
    height: auto;
  }
  .newsletter-subscribe {
    padding: 50px 20px;
    flex-direction: column;
    gap: 10px;
  }
  .newsletter-subscribe .newsletter-text {
    max-width: 100%;
    border-right: none;
    padding-right: 0;
    margin: 0 auto;
  }
  .newsletter-subscribe .newsletter-text p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 10px;
  }
  footer {
    padding: 20px 10px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 50px;
    width: 100%;
  }
  footer .footer-links {
    width: 35%;
    margin: 0;
  }
}
